/* Stylesheet of KAZANIME */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Reggae+One&display=swap');


/* Var and global classes */
:root{
    --main-color: #F2C335;
    --contrast-main-color: #D93223;
    --main-bg-color: #172E73;
    --secondary-bg-color: #3A4873;
    --dark-bg-color: #0D1940;
}

html, body{
    min-height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
}

footer{
    margin-top: auto;
}

.RO, .RO a, .RO p{
    font-family: "Reggae One", cursive;
    font-weight: normal;
    font-size: 25px;
}

a{
    text-decoration: none;
    color: var(--main-color);
}

input{
    font-family: 'Noto Sans JP', cursive;
}

input[type='text'], input[type='date'], input[type='password'], input[type='email'],select{
    background: var(--dark-bg-color);
    border: none;
    height: 20px;
    color: var(--main-color);
    font-size: 15px;
    padding: 4px 10px;
}
/* fix select height */
select{
    height: 28px;
}

/* custom autocompletion */
input:-webkit-autofill, input:-webkit-autofill:focus{
    box-shadow: 0 0 0px 1000px var(--main-color) inset;
    -webkit-box-shadow: 0 0 0px 1000px var(--main-color) inset;
}

input[type='text']:focus, input[type='date']:focus, input[type='password']:focus, input[type='email']:focus, select:focus{
    border: var(--main-color) 2px solid;
    outline: unset;
    height: 16px;
    padding: 4px 8px;
}

select:focus{
    height: 28px;
}

input[type='submit'], button{
    color: var(--main-color);
    border: none;
    border-radius: 0;
    background: var(--dark-bg-color);
    padding: 10px;
    cursor: pointer;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--contrast-main-color);
}


/* Body */
body{
    margin: 0;
    height: 100%;
    top: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--main-color);
    background: var(--main-bg-color);
}


/* Header */
#brand{
    background: 50% 75%/ cover url("../image/146Z_2107.w026.n002.573B.p1.573.jpg");
    display: flex;
    flex-direction: column;
}

#brand h1{
    font: 60px  "Reggae One", cursive;
    -webkit-text-stroke: 2px var(--contrast-main-color);
    text-align: center;
    text-transform: uppercase;
    margin: 2% 0%
}

header{
    z-index: 2;
}

header nav ul li>i{
    color: var(--contrast-main-color);
}

header nav a{
    color: var(--contrast-main-color);
}

nav{
    background: var(--dark-bg-color);
    display: inline-block;
    width: 100%;
    box-shadow: 0px 0px 40px rgb(0, 0, 0, 0.6);
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0%;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    font-size: 30px;
}

nav ul li i{
    font-size: 30px;
}

/* Nav search bar */
.search{
    position: fixed;
    display: none;
    align-items: center;
    flex-direction: column;
    padding: 1%;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    background: rgb(0,0,0,0.8);
}

.search div{
    position: fixed;
    left: 40%;
    right: 40%;
    top: 43%;
    bottom: 43%;
    background: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search i{
    position: absolute;
    z-index: 4;
    top: 58%;
}

.search input[type='text']{
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 9px;
}

.search input[type='text']:focus{
    margin-bottom: 5px;
}

.search .fas, .fa-search{
    cursor: pointer;
}

/* Footer */

footer nav ul li a{
    font-size: 15px;
}


/* Home */

.vedette{
    display: flex;
    flex-direction: column;
    width: calc(2/3*100%);
    margin: auto;
    background: var(--secondary-bg-color);
    padding: 2% 2%;
    box-shadow: 0px 0px 40px rgb(0, 0, 0, 0.6);
}

.vedette h2{
    font-size: 40px;
    margin: 1% 0%;
}

.vedette div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.vedette .fas{
    font-size: 50px;
    -webkit-text-stroke: 1.5px var(--contrast-main-color);
    cursor: pointer;
}

.carousel-frame{
    display: flex;
    flex-direction: column;
    min-width: 46%;
    padding: 2%;
    margin: 0px;
    position: relative;
    right: 0%;
    transition: 1s ease-out;
}

.carousel-frame img{
    width: 100%;
}

.carousel-frame figcaption{
    text-align: center;
    background: rgb(0, 0, 0, 0.6);

}

.main-accueil{
    width: calc(2/3 * 100%);
    margin: auto;
    padding: 2% 0%;
    display: flex;
    flex-direction: row;
    padding: 2%;
    margin-bottom: 4%;
}

.main-accueil h2{
    font-size: 40px;
}

.last-added{
    display: flex;
    align-items: center;
    margin-bottom: 5%;
}

.last-added>p, .last-added>div{
    margin-left: 5%;
    font-size: 20px;
}

.last-anime-added a, .last-episode-added a{
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
}

.last-anime-added a i, .last-episode-added a i{
    border: 2px var(--main-color) solid;
    border-radius: 100%;
    padding: 5px;
    margin-left: 10px;
}

.separate{
    border: 2px solid;
    margin: 4%;
    margin-bottom: 0px;
}

.last-episode-added .last-added div p{
    margin: 0px;
    font-size: 20px;
}

.last-episode-added .last-added div small{
    font-size: 15px;
}


/* Anime list */

#anime-list{
    display: flex;
}

#form-content{
    padding: 1%;
    background: var(--secondary-bg-color);
    min-width: 15%;
    box-shadow: 0px 0px 40px rgb(0, 0, 0, 0.6);
    z-index: 1;
}

#anime-list-search{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1%;
}

#anime-list-search>p{
    margin: auto;
    padding: 10% 0%;
}

#anime-list-search>div{
    display: flex;
    margin: 5% 0px;
    width: 100%;
}
#anime-list-search > div:nth-child(5), #anime-list-search > div:nth-child(6), #anime-list-search > div:nth-child(7){
    display: none;
}

#anime-list-search>div>input, #anime-list-search>div>select{
    width: 100%;
    margin-left: 5px;
}

#anime-list-search>button{
    background-color: var(--secondary-bg-color);
    display: flex;
    align-items: flex-start;
    margin: auto;
}

#anime-list-search>button>i{
    margin: 0px 10px;
}

input[type='date']::-webkit-calendar-picker-indicator{
    padding: 0;
    margin: 0;
    color: var(--main-color);
    filter: invert(100%) sepia() saturate(10000%) hue-rotate(320deg);
}

#anime-list-search>input[type='submit']{
    margin: auto;
    margin-top: 3%;
}

#anime-list-search-date{
    display: flex;
    flex-direction: column;
}

#anime-list-search-date>div{
    display: flex;
    width: 100%;
}

#anime-list-search-date>div>span{
    margin: 0px 5px;
}

.anime-line{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 4fr 1fr 1fr;
    align-items: center;
    padding: 1% 0%;
}

.anime-line:nth-child(even){
    background: rgba(255, 255, 255, 0.15);
}

.desc-list{
    align-items: center;
}

.anime-line p{
    text-align: center;
}

.anime-line>img{
    grid-column: 1;
    margin: auto;
    padding: 2%;
}

.anime-line>div{
    grid-column: 2;
    display: flex;
    flex-direction: column;
    margin: 0px 15px;
}

.anime-line>div>h2{
    text-transform: uppercase;
    margin: 0px;
}

.anime-line>div>p{
    margin: 0px;
    text-align: unset;
}

.anime-line>p:first-of-type{
    grid-column: 3;
}

.anime-line>p:last-of-type{
    grid-column: 4;
}

.nav-page{
    display: flex;
    justify-content: space-evenly;
    width: 25%;
    font-size: 25px;
    margin: 3% auto;
}

/* Login page and register page */

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 800px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 4%;
    background: var(--secondary-bg-color);
    padding: 1.5% 2%;
    box-shadow: 0px 0px 40px rgb(0, 0, 0, 0.6);
}

.login>h1{
    font-size: 35px;
}

.login>form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login>form>label{
    font-size: 20px;
}

.login>form>input{
    margin-bottom: 10%;
}

body.newBackground{
    background: 65% / cover url("../image/jlwd_2ucy_201006.jpg");
}