/* Feuille de style de KAZANIME */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&family=Reggae+One&display=swap');


/* Var and global class */
:root{
    --main-color: #F2C335;
    --contrast-main-color: #D93223;
    --main-bg-color: #172E73;
    --secondary-bg-color: #3A4873;
    --dark-bg-color: #0D1940;
}

.RO a, p{
    font-family: "Reggae One", cursive;
}


/* Body */
body{
    margin: 0;
    height: 100%;
    top: 0px;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--main-color);
    background: var(--main-bg-color);
}


/* Header */
#brand{
    background: 50% 75%/ cover url("../image/146Z_2107.w026.n002.573B.p1.573.jpg");
    display: flex;
    flex-direction: column;
}

#brand h1{
    font: 60px  "Reggae One", cursive;
    -webkit-text-stroke: 2px var(--contrast-main-color);
    text-align: center;
}

#brand a{
    font-size: small;
    text-decoration: none;
    color: var(--main-color);
}

nav{
    background: var(--dark-bg-color);
    display: inline-block;
    width: 100%;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 1% 0%;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    color: var(--main-color);
    text-decoration: none;
    font-size: 30px;
}

nav ul li i{
    font-size: 30px;
}

/* Footer */

footer nav ul li a{
    font-size: 25px;
}